.signUpBanner {
  height: 70px;
}

input {
  color: black;
}

.getPhoneNumber {
  border: 1px solid #e2e2e2;
  background-color: white;
  font-size: 30rpx;
  border-radius: 50px;
  overflow: hidden;
  width: 75%;
  text-align: left;
  margin-left: 30rpx;
  padding-left: 30rpx;
  position: relative;
  line-height: 32px;
  z-index: 999;
}

.getPhoneNumber::after {
  border: none;
}