/* pages/staffCreate/staffCreate.wxss */
#staffCreate {
  .ui-radio-index--icon-select {
    color: #27a2fd;
  }

  .active {
    border: #008df9;
    background-color: rgba(0, 141, 249, 0.2);
		color: rgba(0, 141, 249, 1);
		transition: all 0.2s;
	}
	
	.borderColor9T20{
		border-color: rgba(0,0,0,0)!important;
		transition: all 0.2s;
	}
}
