/* pages/billingManagement/rawMaterialPurchaseOrder/rawMaterialPurchaseOrder.wxss */
#rawMaterialPurchaseOrder {
  .active {
		color: #27a2fd;
		padding-left: 2rpx;
		padding-right: 2rpx;
		border-bottom: 2px solid #27a2fd;
  }
}