/* pages/billingManagement/productionPlan/productionPlanDetail.wxss */
#productionPlanDetail{
	.t-image-viewer__mask{
		background-color: rgba(0, 0, 0, 0.6)!important;
	}

	.ui-radio-index--icon-select {
    color: #27a2fd;
  }

  .checkbox-index--van-checkbox__icon--checked {
    background-color: #27a2fd;
    border-color: #27a2fd;
  }

  .card {
    margin-top: 20px;
  }

  .noTopRightLeft {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
	}
	
	.van-popup {
    width: 90vw;
    padding: 10px;
  }
}
